<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Macro modelu kolizji platformy V2 złożonego z sześcianów i cylindrów -->
<xacro:macro name="platform_collision" params="prefix">
    <!-- Sześcian 0 -->
    <collision>
      <origin xyz="0 0 0.0161" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.07820 0.19000 0.0288"/>
      </geometry>
    </collision>


    
    <!-- Sześcian 1 -->
    <collision>
      <origin xyz="0.04104 0.04082 0.0161" rpy="0.00000 0.00000 0.78540"/>
      <geometry>
        <box size="0.07320 0.08000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 2 -->
    <collision>
      <origin xyz="0.04104 -0.04082 0.0161" rpy="0.00000 0.00000 -0.78540"/>
      <geometry>
        <box size="0.07320 0.08000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 3 -->
    <collision>
      <origin xyz="-0.04104 0.04082 0.0161" rpy="0.00000 0.00000 -0.78540"/>
      <geometry>
        <box size="0.07320 0.08000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 4 -->
    <collision>
      <origin xyz="-0.04104 -0.04082 0.0161" rpy="0.00000 0.00000 0.78540"/>
      <geometry>
        <box size="0.07320 0.08000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 5 -->
    <collision>
      <origin xyz="0 0 0.01556" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="0.07820 0.19000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 6 -->
    <collision>
      <origin xyz="-0.08452 0.00975 -0.00693" rpy="0.00000 0.00000 1.57080"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 7 -->
    <collision>
      <origin xyz="-0.05269 0.06718 -0.00693" rpy="0.00000 0.00000 0.78540"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 8 -->
    <collision>
      <origin xyz="0.05269 0.06718 -0.00693" rpy="0.00000 0.00000 -0.78540"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 9 -->
    <collision>
      <origin xyz="-0.06759 -0.05244 -0.00693" rpy="0.00000 0.00000 -0.78540"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 10 -->
    <collision>
      <origin xyz="0.06759 -0.05244 -0.00693" rpy="0.00000 0.00000 0.78540"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 11 -->
    <collision>
      <origin xyz="0.08452 0.00975 -0.00693" rpy="0.00000 0.00000 1.57080"/>
      <geometry>
        <box size="0.04060 0.02100 0.03880"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 12 -->
    <collision>
      <origin xyz="0 0 0.0161" rpy="0.00000 0.00000 1.57080"/>
      <geometry>
        <box size="0.07820 0.19000 0.0288"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 13 -->
    <collision>
      <origin xyz="-0.07305 -0.06865 0.0161" rpy="0.00000 0.00000 0.7853981634"/>
      <geometry>
        <box size="0.0502 0.0724 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 14 -->
    <collision>
      <origin xyz="-0.06843 0.07413 0.0161" rpy="0.00000 0.00000 -0.7853981634"/>
      <geometry>
        <box size="0.0502 0.0758 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 15 -->
    <collision>
      <origin xyz="0.06843 0.07413 0.0161" rpy="0.00000 0.00000 3.926990817"/>
      <geometry>
        <box size="0.0502 0.0758 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 16 -->
    <collision>
      <origin xyz="0.09828 0.0053 0.0161" rpy="0.00000 0.00000 1.570796327"/>
      <geometry>
        <box size="0.0772 0.0536 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 17 -->
    <collision>
      <origin xyz="-0.09828 0.0053 0.0161" rpy="0.00000 0.00000 1.570796327"/>
      <geometry>
        <box size="0.0772 0.0536 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Sześcian 18 -->
    <collision>
      <origin xyz="0.07305 -0.06865 0.0161" rpy="0.00000 0.00000 2.35619449"/>
      <geometry>
        <box size="0.0772 0.0536 0.0344"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 0 -->
    <collision>
      <origin xyz="0.08600 -0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 1 -->
    <collision>
      <origin xyz="-0.08600 -0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 2 -->
    <collision>
      <origin xyz="0.08600 0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 3 -->
    <collision>
      <origin xyz="-0.08600 0.08607 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 4 -->
    <collision>
      <origin xyz="0.12206 0.00017 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
    <!-- Cylinder 5 -->
    <collision>
      <origin xyz="-0.12206 0.00017 0.01708" rpy="0.00000 0.00000 0.00000"/>
      <geometry>
        <cylinder radius="0.014" length="0.0278"/>
      </geometry>
    </collision>
    
  </xacro:macro>
</robot>