<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="hexapod_ee" params="use_sim prefix use_gazebo use_fake_hardware fake_sensor_commands port_name baud_rate version">
    
    <xacro:include filename="$(find hexapod_description)/gazebo/hexapod.gazebo.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/hexapod_leg_ee.urdf.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/hexapod_gazebo.urdf.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find hexapod_moveit_config)/config/hexapod.ros2_control.xacro" />

    <xacro:hexapod_leg_ee prefix="${prefix}" version="${version}"/>
    <xacro:hexapod_gazebo prefix="${prefix}" />

    <!-- <xacro:imu_sensor
    prefix="${prefix}"
    parent="${prefix}base_link"
    frame_id="imu"
    xyz_offset="0 0 0.006"
    rpy_offset="0 0 0"
    update_rate="15.0"
    topic_name="imu/data"/> -->
    
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find hex_gz)/config/gazebo_controller_manager.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${prefix}base_link">
      <sensor name="imu_sensor" type="imu">
        <update_rate>1</update_rate>
        <always_on>true</always_on>
        <visualize>false</visualize>
        <topic>imu</topic>
      </sensor>
    </gazebo>
    

    <!-- <xacro:hexapod_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <!-- <xacro:hexapod_ros2_control use_sim="$(arg use_sim)" prefix="$(arg prefix)" initial_positions_file="$(find hexapod_description)/config/initial_positions.yaml"/>  -->
    <xacro:hexapod_ros2_control 
        name="hexapod" 
        initial_positions_file="$(find hexapod_description)/config/initial_positions.yaml" 
        use_gazebo="${use_gazebo}" 
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        port_name="${port_name}"
        baud_rate="${baud_rate}" />
  </xacro:macro>
</robot>