<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- MoveIt configuration for Gazebo simulation -->
    <!-- This file is optimized for simulation-based motion planning -->
    <!-- Used by demo.launch.py when simulation mode is selected -->
    
    <!-- Robot naming and identification -->
    <xacro:arg name="prefix" default="" />
    
    <!-- Hardware interface selection for simulation -->
    <xacro:arg name="use_gazebo" default="false" />
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="fake_sensor_commands" default="false" />
    
    <!-- ESP32 communication parameters (not used in simulation) -->
    <xacro:arg name="port_name" default="/dev/ttyUSB0" />
    <xacro:arg name="baud_rate" default="115200" />
    
    <!-- Include main hexapod definition from description package -->
    <xacro:include filename="$(find hexapod_description)/urdf/hexapod_ee.urdf.xacro" />
    
    <!-- Create complete hexapod robot for MoveIt simulation -->
    <xacro:hexapod_ee 
        use_sim="true" 
        prefix="$(arg prefix)" 
        use_gazebo="$(arg use_gazebo)" 
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        port_name="$(arg port_name)"
        baud_rate="$(arg baud_rate)" />
</robot>