<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="hexapod_gazebo" params="prefix">

  <xacro:macro name="SimpleTransmission" params="trans joint actuator">
    <transmission name="${trans}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${actuator}">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="Link" params="reference">
    <gazebo reference="${reference}">
        <!-- <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.7</mu>
                        <mu2>0.7</mu2>
                    </ode>
                </friction>
                <contact>
                    <ode>
                        <kp>800.0</kp>
                        <kd>5.0</kd>
                        <min_depth>0.0</min_depth>
                        <max_vel>1.0</max_vel>
                        <soft_cfm>0.02</soft_cfm>
                        <soft_erp>0.1</soft_erp>
                    </ode>
                </contact>
            </surface>
        </collision> -->
    </gazebo>
  </xacro:macro>

  <!-- Gazebo reference for end effector link -->
   <xacro:macro name="EndEffectorLink" params="reference index">
    <gazebo reference="${reference}">
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.7</mu>
                        <mu2>0.7</mu2>
                    </ode>
                </friction>
                <contact>
                    <ode>
                        <kp>820.0</kp>                
                        <kd>100.0</kd>              
                        <min_depth>0.0</min_depth>
                        <max_vel>1.0</max_vel>
                    </ode>
                </contact>
            </surface>
        </collision>
    </gazebo>
    <gazebo reference="${prefix}link4_${index}">
      <sensor name='sensor_contact_${index}' type='contact'>
          <contact>
              <!-- <collision>link5_${index}_collision</collision> -->
               <collision>link4_${index}_fixed_joint_lump__link5_${index}_collision_4</collision>
          </contact>
      </sensor>
    </gazebo>
   </xacro:macro>

  <!-- Define links for all parts of the hexapod -->
  <xacro:Link reference="${prefix}base_link"/>
  
  <!-- Leg 1 links -->
  <xacro:Link reference="${prefix}link1_1"/>
  <xacro:Link reference="${prefix}link2_1"/>
  <xacro:Link reference="${prefix}link3_1"/>
  <!-- <xacro:Link reference="${prefix}link4_1"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_1" index="1"/>

  <!-- Leg 2 links -->
  <xacro:Link reference="${prefix}link1_2"/>
  <xacro:Link reference="${prefix}link2_2"/>
  <xacro:Link reference="${prefix}link3_2"/>
  <!-- <xacro:Link reference="${prefix}link4_2"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_2" index="2"/>
  
  <!-- Leg 3 links -->
  <xacro:Link reference="${prefix}link1_3"/>
  <xacro:Link reference="${prefix}link2_3"/>
  <xacro:Link reference="${prefix}link3_3"/>
  <!-- <xacro:Link reference="${prefix}link4_3"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_3" index="3"/>
  
  <!-- Leg 4 links -->
  <xacro:Link reference="${prefix}link1_4"/>
  <xacro:Link reference="${prefix}link2_4"/>
  <xacro:Link reference="${prefix}link3_4"/>
  <!-- <xacro:Link reference="${prefix}link4_4"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_4" index="4"/>
  
  <!-- Leg 5 links -->
  <xacro:Link reference="${prefix}link1_5"/>
  <xacro:Link reference="${prefix}link2_5"/>
  <xacro:Link reference="${prefix}link3_5"/>
  <!-- <xacro:Link reference="${prefix}link4_5"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_5" index="5"/>
  
  <!-- Leg 6 links -->
  <xacro:Link reference="${prefix}link1_6"/>
  <xacro:Link reference="${prefix}link2_6"/>
  <xacro:Link reference="${prefix}link3_6"/>
  <!-- <xacro:Link reference="${prefix}link4_6"/> -->
  <xacro:EndEffectorLink reference="${prefix}link4_6" index="6"/>

  <!-- Leg 1 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg1_trans1" joint="${prefix}joint1_1" actuator="${prefix}leg1_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg1_trans2" joint="${prefix}joint2_1" actuator="${prefix}leg1_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg1_trans3" joint="${prefix}joint3_1" actuator="${prefix}leg1_motor3" />
  
  <!-- Leg 2 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg2_trans1" joint="${prefix}joint1_2" actuator="${prefix}leg2_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg2_trans2" joint="${prefix}joint2_2" actuator="${prefix}leg2_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg2_trans3" joint="${prefix}joint3_2" actuator="${prefix}leg2_motor3" />
  
  <!-- Leg 3 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg3_trans1" joint="${prefix}joint1_3" actuator="${prefix}leg3_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg3_trans2" joint="${prefix}joint2_3" actuator="${prefix}leg3_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg3_trans3" joint="${prefix}joint3_3" actuator="${prefix}leg3_motor3" />
  
  <!-- Leg 4 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg4_trans1" joint="${prefix}joint1_4" actuator="${prefix}leg4_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg4_trans2" joint="${prefix}joint2_4" actuator="${prefix}leg4_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg4_trans3" joint="${prefix}joint3_4" actuator="${prefix}leg4_motor3" />
  
  <!-- Leg 5 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg5_trans1" joint="${prefix}joint1_5" actuator="${prefix}leg5_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg5_trans2" joint="${prefix}joint2_5" actuator="${prefix}leg5_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg5_trans3" joint="${prefix}joint3_5" actuator="${prefix}leg5_motor3" />
  
  <!-- Leg 6 Transmissions -->
  <xacro:SimpleTransmission trans="${prefix}leg6_trans1" joint="${prefix}joint1_6" actuator="${prefix}leg6_motor1" />
  <xacro:SimpleTransmission trans="${prefix}leg6_trans2" joint="${prefix}joint2_6" actuator="${prefix}leg6_motor2" />
  <xacro:SimpleTransmission trans="${prefix}leg6_trans3" joint="${prefix}joint3_6" actuator="${prefix}leg6_motor3" />

  </xacro:macro>

</robot>